name: Build

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Export Windows build
        uses: firebelley/godot-export@v6
        with:
          godot_executable_download_url: https://downloads.tuxfamily.org/godotengine/4.5/Godot_v4.5-stable_linux.x86_64.zip
          godot_export_templates_download_url: https://downloads.tuxfamily.org/godotengine/4.5/Godot_v4.5-stable_export_templates.tpz
          export_preset: "Windows Desktop"
          cache: true

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: build/windows/*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: windows-build
          path: ./windows

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./windows/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}