name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Export Godot project (Windows Desktop)
        uses: firebelley/godot-export@v7.0.0
        with:
          presets: "Windows Desktop"
          output-path: build/windows/GeometryMayhem.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: build/windows/*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: windows-build
          path: build/windows

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/windows/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
